.container
  .span-20
    %h1  Your Personal and Shared Episodes

    %table
      %tr
        %th Title
        %th Name
        %th Owner
        %th Shared?
        %th
        %th
        %th

      - @episodes.each do |episode|
        %tr
          %td= episode.title
          %td= episode.name
          %td= episode.owner.try(:email)
          %td= episode.users.empty? ? "No" : "Yes"
          %td= link_to 'Show', episode if can?(:read, episode)
          %td= link_to 'Edit', edit_episode_path(episode) if can?(:edit, episode)
          %td= link_to 'Delete', episode, :confirm => 'Are you sure?', :method => :delete if can?(:destroy, episode)

    %br

    = link_to 'New Episode', new_episode_path

/ for each, make a table with the proper attributes and spaces/linebreak(s) at the bottom
