.container
  .span-20
    %h1 List of Episodes
    
    %table
      %tr
        %th Title
        %th Family name
        %th Given name
        %th 
        %th
        %th
    
      - @episodes.each do |episode|
        %tr
          %td= episode.title
          %td= episode.family_name
          %td= episode.given_name
          %td= link_to 'Show', episode
          %td= link_to 'Edit', edit_episode_path(episode)
          %td= link_to 'Destroy', episode, :confirm => 'Are you sure?', :method => :delete
    
    %br
    
    = link_to 'New Episode', new_episode_path
