%episodestable
  .container
    .span-20
      %h2  Your personal and shared episodes
      %br

      %table
        %tr{:id => "mainrow"}
          %th Title
          %th Name
          %th Owner
          %th Shared?
          %th
          %th
          %th

        - @episodes.each do |episode|
          %tr
            %td{:id => "eptitle"}= episode.title
            %td{:id => "epname"}= episode.name
            %td{:id => "epowner"}= episode.owner.try(:email)
            %td{:id => "epshared"}= episode.users.empty? ? "No" : "Yes"
            %td= link_to 'Show', episode if can?(:read, episode)
            %td= link_to 'Edit', edit_episode_path(episode) if can?(:edit, episode)
            %td{:id => "entrydelete"}= link_to 'Delete', episode, :confirm => 'Are you sure?', :method => :delete if can?(:destroy, episode)

      %br

#NewEpisodeLink
  = link_to 'New Episode', new_episode_path

/ for each, make a table with the proper attributes and spaces/linebreak(s) at the bottom

%br
%br

#tagit
  %h3 Share your episodes
  #belowslide
    %p
      Once you enter in someone's account email, you can begin sharing specific episodes with
      that person
    = form_tag share_path, method: :put do
      = label_tag "Account email:"
      = email_field_tag :user_email
      = submit_tag "Share"
  
    %br
    - unless @shared_users.blank?
      %h4 Revoke Sharing
      %p
        If you revoke someone's sharing privileges, they will no longer be able to see
        any of your episodes and you will need to add them above before you can share
        episodes with them again.
      %p
        - options = options_from_collection_for_select(@shared_users, 'id', 'email')
        = form_tag share_path, method: :delete do
          = label_tag "Select an account to revoke:"
        %br/
        = select_tag :user_share_ids, options, :include_blank => true
        = submit_tag "Revoke"
    /- else
    /  %p#noshare You don't currently have anyone on your share list. Try adding someone!
