

%p
  %b Title:
  = @episode.title
%p
  %b Name:
  = @episode.name
%p
  %b Owner:
  = @episode.owner.email
%p
  %b Created:
  = @episode.created_at
%p
  %b Updated:
  = @episode.updated_at

- if can? :edit, @episode
  = link_to 'Edit', edit_episode_path(@episode)
  \|
= link_to 'Back', episodes_path
