

= render 'show_links'
%br

%p
  %b Title:
  = @episode.title
%p
  %b Name:
  = @episode.name
%p
  %b Owner:
  = @episode.owner.email
%p
  %b Created:
  = @episode.created_at
%p
  %b Updated:
  = @episode.updated_at
- unless @episode.users.empty? or cannot? :manage, @episode
  %p
    %b Shared With:
    - @episode.users.each do |user|
      = user.email
      %br

- unless @episode.entries.empty?
  %h3 Entries
  = render 'add_entry'
  %br

  - count = 0
  - @episode.entries.each do |entry|
    .entry
      - if count == 0
        %hr
      #{count += 1}. #{entry.description}
      = render 'entries/show', entry: entry

      -# These were moved into a helper to clean up all of the arguments
      - if can? :manage, entry
        = edit_entry(@episode, entry)
        \|
        = delete_entry(@episode, entry)
      %hr


= render 'add_entry'
= render 'show_links'
