!!!
%html
  %head
    %title=title
    = render "/layouts/stylesheets"
    = csrf_meta_tags
    
  %body
    .container
      /banner image 
      .span-20
        .span-14
          %br
          #headerimage
            = image_tag("medlogtest2.png")
            
        /log-in info    
        .span-6.last
          = render  "/layouts/header"
             
      .span-20
        %hr
        %br

      .span-20.last
        %section
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          = yield
          
      .span-20
        =render "/layouts/footer" 	    